/* github token (ruchira) ->  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 */
.information_class {
    position: absolute;
    top: 5%;
    right: 2%;
}

.main_information_class{
    color: brown;
    position: relative;
    background-color: aliceblue;
    width: 250px;
    height: 200px;
    opacity: 0.5;
    padding: 15px;
    backdrop-filter: blur(5px);
    margin-bottom: 10px;
    border-radius: 20px;
}

.more_information_class{
    color: brown;
    position: relative;
    background-color: aliceblue;
    width: 250px;
    height: 300px;
    opacity: 0;
    padding: 15px;
    border-radius: 20px;
}

.controlLayout{
    position: absolute;
    top: 5%;
    right: 0;
    height: 450px;
    padding: 15px;
    width: 300px;opacity: 0;
    background-color: blue;
}

