/* github token (ruchira) ->  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 */
.information_class {
    position: absolute;
    top: 1%;
    right: 0.5%;
    height: 60%;
    width: 19.5%;
}

.main_information_class{
    color: black;
    position: relative;
    background-color: white;
    margin-top: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    height: 50%;
    opacity: 0.6;
    padding: 5%;
    border-radius: 20px 20px 0px 0px;
}

.hint_class{
    height: 5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding-top: 2%;
    color: white;
    text-align: center;
    font-size: small;
    border-radius: 0px 0px 20px 20px;
    background-color: #0E6655;
}


.more_information_class{
    color: black;
    position: relative;
    background-color: white;
    margin: 1.5%;
    min-height: 50%;
    opacity: 0;
    padding: 5%;
    border-radius: 20px;
}

.controlLayout{
    position: absolute;
    top: 1%;
    right: 0.5%;
    height: 60%;
    width: 19.5%;
    opacity: 0;
}
 
.controlLayoutColoured{
    position: absolute;
    top: 1%;
    right: 0.5%;
    height: 98%;
    width: 19.5%;
    opacity: 0.2;
    background-color: black;
}

.viewButtonClass{
    position: absolute;
    height: 7%;
    width: 5.3%;
    font-size: medium;
    border-radius: 10px;
    background-image: conic-gradient(#9B59B6 0deg, #9B59B6 90deg, #633974 90deg, #633974 180deg, #633974 180deg, #633974 270deg, #9B59B6 270deg);
    color: white;
    border-width: 0;
    bottom: 3%;
    right: 2%;
}
.viewButtonClass:active {
    transform: translateY(2px);
  }

.moreButton_class{
    border-radius: 10px;
    position: absolute;
    right: 10%;
    bottom: 5%;
}